<div class="container">
    <br><br><br><br><br>
    <button class="btn btn-primary" (click)="comoDeberiaMostrarse()"> crear pdf</button>
    <br><br>

    <button class="btn btn-info" (click)="crearColumna()">Funcion crearColumna</button>
    <br><br>

    <button class="btn btn-info" (click)="test1()">Funcion test1</button>
    <br><br>
    
    <button class="btn btn-info" (click)="ejemploDeTabla()">Ejemplo de tabla</button>
    <br><br>

    <button class="btn btn-secondary" (click)="ejemploConColumnas()">Ejemplo con columnas</button>
    <br><br>

    <button class="btn btn-secondary" (click)="prueba()">Prueba</button>
    <br><br>

    <button class="btn btn-info" (click)="tabla()">Funcion tabla</button>
    <br><br>

    <label class="form-label">titulo</label>
    <input type="text" class="form-control" [(ngModel)]="json.title">

</div>