<div class="container">
    <br><br><br><br><br>
    <button class="btn btn-primary" (click)="crearPDF()"> crear pdf</button>
    <br><br>
    <button class="btn btn-info" (click)="crearColumna()">Funcion crearColumna</button>
    <br><br>
    <button class="btn btn-info" (click)="test1()">Funcion test1</button>
    <br><br>
    <button class="btn btn-info" (click)="ejemploDeTabla()">Ejemplo de tabla</button>
    <br><br>

    <label class="form-label">titulo</label>
    <input type="text" class="form-control" [(ngModel)]="json.title">

</div>